<body>
  <div class="user-edit">
    <div class="user-edit-title">
      <h2>ユーザー情報編集</h2>
    </div>
    <div class="user-edit-main">
      <%= form_with model: @user, url:user_registration_path, method: :put, class:"sign-up-forms", local: true do |f| %>
      <%= render "shared/error_messages", model: @user %>
      <table class="user-edit-table">
        <tr>
          <th>アイコン画像</th>
          <td><%= f.file_field :user_image, id:"user-image" %>
            <div id="user-image-list"></div>
            <%= image_tag @user.user_image, id: 'user-image', class:"user-image-registered" %>
          </td>
        </tr>
        <tr>
          <th>姓</th>
          <td><%= f.text_area :family_name, class:"edit-text", id:"family_name" %>
          </td>
        </tr>
        <tr>
          <th>名</th>
          <td><%= f.text_area :first_name, class:"edit-text", id:"first-name" %>
          </td>
        </tr>
        <tr>
          <th>姓(カナ)</th>
          <td><%= f.text_area :family_name_kana, class:"edit-text", id:"family_name_kana" %>
          </td>
        </tr>
        <tr>
          <th>名(カナ)</th>
          <td><%= f.text_area :first_name_kana, class:"edit-text", id:"first_name_kana" %>
          </td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email, autofocus: true, class:"edit-form", autocomplete: "email" %>
          </td>
        </tr>
        <tr>
          <th>権限 </th>
          <td><%= f.collection_select :administrator_id, Administrator.all, :id, :name %>
          </td>
        </tr>
      </table>
      <div class="actions">
        <%= f.submit "編集", class:"edit-button" %>
      </div>
      <% end %>
    </div>
  </div>
</body>