<%= render "shared/header" %>
<div class="matter-information">
  <div class="search-sidebar">
    <%= search_form_for @q, url:search_matters_path, class: 'search-form' do |f| %>
    <%= render partial: "shared/matter_search_form", locals: {f: f}%>
  </div>
  <div class="search-main">

    <% if @matters.length !=0 %>
    <% @matters.each do |matter| %>
    <%= render partial: "shared/matter_list", locals: {matter: matter}%>
    <% end %>
    <% else %>
    該当する商品はありません
    <% end %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>