<%= render "shared/header" %>
<div class="mypage">
  <%= render "shared/mypage_side" %>
  <div class="mypage-main">
    <table class="user-information">
      <tr>
        <th rowspan="3">基本情報</th>
        <td class="tabel-title">氏名</td>
        <td class="tabel-data">：<%= @user.family_name%> <%= @user.first_name %></td>
      </tr>
      <tr>
        <td class="tabel-title">登録画像</td>
        <td class="tabel-data"><%= image_tag @user.user_image %></td>
      </tr>
      <tr>
        <td class="tabel-title_bottom">メールアドレス</td>
        <td class="tabel-data_bottom">：<%= @user.email %></td>
      </tr>
    </table>
  </div>
  <div class="user-matters">
  </div>
</div>
</div>
</div>
<%= render "shared/footer" %>