<%= render "shared/error_messages", model: @matter %>
<table class="matter-table">
  <tr class="matter-table-row-low">
    <th>案件名
      <span class="hissu">必須</span>
    </th>
    <td><%= f.text_field :matter_name, class:"matter-text-field", id:"matter-name" %>
    </td>
  </tr>
  <tr class="matter-table-row-high">
    <th>案件詳細</th>
    <td>
      <%= f.text_area :matter_explain, class:"matter-text-area-high", id:"matter-explain" %>
    </td>
  </tr>
  <tr class="matter-table-row-low">
    <th>商材名
      <span class="hissu">必須</span>
    </th>
    <td>
      <%= f.text_field :product, class:"matter-text-field", id:"product" %>
    </td>
  </tr>
  <tr class="matter-table-row-low">
    <th>販売金額見込み(千円)</th>
    <td><%= f.text_field :sale_price, class:"matter-text-field", id:"sale-price" %>
    </td>
  </tr>
  <tr class="matter-table-row-low">
    <th>利益見込み(千円)</th>
    <td><%= f.text_field :profit_price, class:"matter-text-field", id:"profit-price" %>
    </td>
  </tr>
  <tr class="matter-table-row-low">
    <th>販売時期見込み
      <span class="hissu">必須</span>
    </th>
    <td>
      <%= f.date_select :sale_time, {discard_day: true}, class:"matter-date", id:"sale-time" %>
    </td>
  </tr>
  <tr class="matter-table-row-low">
    <th>重点度
      <span class="hissu">必須</span>
    </th>
    <td>
      <%= f.collection_select :priority_id, Priority.all, :id, :name %>
    </td>
  </tr>
  <tr class="matter-table-row-low">
    <th>確度
      <span class="hissu">必須</span>
    </th>
    <td>
      <%= f.collection_select :reliability_id, Reliability.all, :id, :name %>
    </td>
  </tr>
  <tr class="matter-table-row-low">
    <th>進捗
      <span class="hissu">必須</span>
    </th>
    <td>
      <%= f.collection_select :progress_id, Progress.all, :id, :name %>
    </td>
  </tr>
  <tr class="matter-table-row-low">
    <th>きっかけ
      <span class="hissu">必須</span>
    </th>
    <td>
      <%= f.text_field :occasion, class:"matter-text-field", id:"occasion" %>
    </td>
  </tr>
</table>