<div class="sidebar">
  <ul>
    <li>
      <%= link_to "案件情報編集", "#", class:"sidebar-link" %></li>
    </li>
    <li>
      <%= link_to "営業スタッフ情報編集", "#", class:"sidebar-link" %></li>
    </li>
    <li><%= link_to "顧客情報一覧", "#", class:"sidebar-link" %></li>
    </li>
    <li><%= link_to "商談一覧", "#", class:"sidebar-link" %></li>
    </li>
    <li><%= link_to "案件削除", "#", class:"sidebar-link" %></li>
    </li>
  </ul>
  </ul>
</div>