<body>
  <div class="sign-in">
    <div class="sign-in-title">
      <h2>ログイン</h2>
    </div>
    <div class="sign-in-main">
      <%= form_with model: @user, url:user_session_path, class:"sign-in-forms", local: true do |f| %>
      <div class='sign-in-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <table class="sign-in-table">
        <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email, autofocus: true, class:"sign-up-form",autocomplete: "email" %>
          </td>
        </tr>
        <tr>
          <th>パスワード(確認用) </th>
          <td>
            <%= f.password_field :password, autocomplete: "current-password", class:"sign-up-form" %>
          </td>
        </tr>
      </table>
      <div><%= f.submit "ログイン" ,class:"sign-in-button" %>
      </div>
      <% end %>
    </div>
  </div>
</body>
<%= render "devise/shared/links" %>